<div class="questionItemStack">
    <div class="questionPrompt" *ngIf="group.raw.text || group.raw.questions[0].text">
        {{ group.raw.text || group.raw.questions[0].text }}
    </div>

    <div class="multiSelectNumbers">
        <span class="gapCircle" *ngFor="let question of group.raw.questions; trackBy: trackByQuestion">{{ question.id
            }}</span>
    </div>

    <button type="button" class="mcqOption"
        *ngFor="let option of group.raw.options; let i = index; trackBy: trackByOption"
        [class.mcqOptionSelected]="isSelected(getChoiceValue(option, i))"
        (click)="toggleOption(getChoiceValue(option, i))">
        <span class="mcqMarker" [class.mcqMarkerSelected]="isSelected(getChoiceValue(option, i))"></span>
        <span class="mcqText">{{ getOptionText(option) }}</span>
    </button>
</div>